@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');
body {
  font-family: 'Montserrat', sans-serif;
}

pre {
  font-family: 'Source Code Pro', monospace;
}

#pg-editor {
  font-family: 'Source Code Pro', monospace;
  height: 50vh;
}

#pg-sharelink {
  width: 300px;
}

#container-about {
  display: none;
}
